.AspectRatio4x3 .QuickStats {
  margin-left: 252px;
}


.AspectRatio16x10 .QuickStats {
  margin-left: 252px;
}


.AspectRatio16x9 .QuickStats {
  margin-left: 300px;
}

.QuickStats {
  horizontal-align: left;
  vertical-align: bottom;
  height: 110px;
  width: 160px;
  margin-left: 252px;
  transition-property: opacity, transform;
  transition-duration: 0.15s;
  transform: translateY(200px);
  box-shadow: #000000f5 0px 0px 8px 0px;
}

.QuickStats.Show_QS {
	transform: translateY(0px);
  }


#HeroStatSmall {
  height: 170px;
  width: 180px;
  vertical-align: bottom;
  background-color: #2f2f37;
}

#dmg
{
  width: 14px;
  height: 14px;
  margin-top: 2px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-image: url("s2r://panorama/images/hud/reborn/icon_damage_psd.vtex");
}

#line, #line2,#line3,#line4,#line5
{
  flow-children: right;
}


#DamageDealtContainer {
  margin-top: 20px;
}

#DamageTakenContainer {
  margin-top: 40px;
}

#DamageHealedContainer {
  margin-top: 60px;
}

#text {
  text-align: center;
  height: 140px;
  width: 90px;
  flow-children: down;
}
#values {
  text-align: center;
  height: 140px;
  width: 90px;
  flow-children: down;
}

#data {
  margin-top: 5px;
  padding: 5px;
  text-align: center;
  flow-children: right;
}

#data Label {
  font-size: 15px;
}