.PhraseMenu {
  flow-children: right;
  vertical-align: middle;
  horizontal-align: center;
  width: 1200px;
  height: 450px; 
  margin-left: 10px;
  transition-property: opacity, transform;
  transition-duration: 0.15s;
  transform: translateY(850px);
  box-shadow: #000000a0 0px 0px 2px 0px;
}

.PhraseMenu.Show_VC {
  transform: translateY(0px);
}

#PhraseMenu {
  flow-children: right;
  width: 1200px;
  height: 450px; 
}

#PhraseMenuContainerLeft {
  flow-children: down;
  width: 400px;
  height: 450px; 
}

#PhraseMenuContainerMid {
  flow-children: down;
  width: 400px;
  height: 450px; 
}

#PhraseMenuContainerRight {
  flow-children: down;
  width: 400px;
  height: 450px; 
}

.phrase-button {
  text-align: center; 
  height: 30px;
  width: 400px;
  margin: 5px;
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  line-height: 30px;
}

.phrase-button:hover {
  background-color: #666;
}
