.AspectRatio4x3 .Options {
  margin-left: 252px;
}


.AspectRatio16x10 .Options {
  margin-left: 252px;
}


.AspectRatio16x9 .Options {
  margin-left: 300px;
}

.Options {
  horizontal-align: left;
  vertical-align: bottom;
  height: 110px;
  width: 160px;
  transition-property: opacity, transform;
  transition-duration: 0.15s;
  transform: translateY(200px);
  box-shadow: #000000f5 0px 0px 8px 0px;
}

.Options.Show_OP {
	transform: translateY(0px);
  }

#Options {
  height: 110px;
  width: 160px;
  vertical-align: bottom;
  background-color: #2f2f37;
  flow-children: down;
}

#Options Label
{
  font-size: 14px; 
}



#skipper Label{
  font-size: 14px;
}

#VoteSkip {
  flow-children: right;
}
