.HUDTopButtons {
    width: 100%;
  }

  #HUDTopButtons_menu
{
  margin-top: 50px;
  width: 150px;
  height: 150px;
  flow-children: down;
  /* background-color: red;
    opacity: 0.1; */
}
  
  #top_row,
  #mid_row,
  #bottom_row {
    height: 45px;
  }
  
  #DiscordButton {
    width: 30px;
    height: 30px;
    background-size: 100% 100%;
    horizontal-align: left;
    text-align: center;
    margin-top: 8px;
    margin-left: 18px;
  }
  
  #DiscordIcon {
    width: 100%;
    height: 100%;
    background-image: url("file://{images}/hud/discord.psd");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    opacity: 0.5;
    wash-color: #cdf;
    transition-property: opacity;
    transition-duration: 0.2s;
    img-shadow: 0px 0px 3px 2 black;
  }
  
  #DiscordIcon:hover {
    opacity: 1;
    wash-color: white;
  }
  
  #PatreonButton {
    width: 30px;
    height: 30px;
    background-size: 100% 100%;
    horizontal-align: left;
    text-align: center;
    margin-top: 8px;
    margin-left: 68px;
  }
  
  #PatreonIcon {
    width: 100%;
    height: 100%;
    background-image: url("file://{images}/hud/patreon_btn.psd");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    opacity: 0.5;
    wash-color: #cdf;
    transition-property: opacity;
    transition-duration: 0.2s;
    img-shadow: 0px 0px 3px 2 black;
  }
  
  #PatreonIcon:hover {
    opacity: 1;
    wash-color: white;
  }
  
  #BoostyButton {
    width: 30px;
    height: 30px;
    background-size: 100% 100%;
    horizontal-align: left;
    text-align: center;
    margin-top: 8px;
    margin-left: 112px;
  }
  
  #BoostyIcon {
    width: 100%;
    height: 100%;
    background-image: url("file://{images}/hud/Boosty_btn.psd");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    opacity: 0.5;
    wash-color: #cdf;
    transition-property: opacity;
    transition-duration: 0.2s;
    img-shadow: 0px 0px 3px 2 black;
  }
  
  #BoostyIcon:hover {
    opacity: 1;
    wash-color: white;
  }
  
  #ProfileButton {
    width: 30px;
    height: 30px;
    background-size: 100% 100%;
    horizontal-align: left;
    text-align: center;
    margin-top: 8px;
    margin-left: 18px;
  }
  
  #ProfileIcon {
    width: 100%;
    height: 100%;
    background-image: url("file://{images}/hud/profile.psd");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    opacity: 0.5;
    wash-color: #cdf;
    transition-property: opacity;
    transition-duration: 0.2s;
    img-shadow: 0px 0px 3px 2 black;
  }
  
  #ProfileIcon:hover {
    opacity: 1;
    wash-color: white;
  }
  
  #LeaderboardButton {
    width: 30px;
    height: 30px;
    background-size: 100% 100%;
    horizontal-align: left;
    text-align: center;
    margin-top: 8px;
    margin-left: 64px;
  }
  
  #LeaderboardIcon {
    width: 100%;
    height: 100%;
    background-image: url("file://{images}/hud/leaderboard.psd");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    opacity: 0.5;
    wash-color: #cdf;
    transition-property: opacity;
    transition-duration: 0.2s;
    img-shadow: 0px 0px 3px 2 black;
  }
  
  #LeaderboardIcon:hover {
    opacity: 1;
    wash-color: white;
  }

  #OptionsButton {
    width: 30px;
    height: 30px;
    background-size: 100% 100%;
    horizontal-align: left;
    text-align: center;
    margin-top: 8px;
    margin-left: 112px;
  }
  
  #OptionsIcon {
    width: 100%;
    height: 100%;
    background-image: url("file://{images}/hud/options.psd");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    opacity: 0.5;
    wash-color: #cdf;
    transition-property: opacity;
    transition-duration: 0.2s;
    img-shadow: 0px 0px 3px 2 black;
  }
  
  #OptionsIcon:hover {
    opacity: 1;
    wash-color: white;
  }
  

  #QuickStatsButton {
    width: 30px;
    height: 30px;
    background-size: 100% 100%;
    horizontal-align: left;
    text-align: center;
    margin-top: 8px;
    margin-left: 112px;
  }
  
  #QuickStatsIcon {
    width: 100%;
    height: 100%;
    background-image: url("file://{images}/hud/quickstats.psd");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    opacity: 0.5;
    wash-color: #cdf;
    transition-property: opacity;
    transition-duration: 0.2s;
    img-shadow: 0px 0px 3px 2 black;
  }
  
  #QuickStatsIcon:hover {
    opacity: 1;
    wash-color: white;
  }
  
  #bugButton {
    width: 30px;
    height: 30px;
    background-size: 100% 100%;
    horizontal-align: left;
    text-align: center;
    margin-top: 8px;
    margin-left: 18px;
  }
  
  #bugIcon {
    width: 100%;
    height: 100%;
	  background-image: url("file://{images}/hud/bug_btn.psd");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    opacity: 0.5;
    wash-color: #cdf;
    transition-property: opacity;
    transition-duration: 0.2s;
    img-shadow: 0px 0px 3px 2 black;
  }
  
  #bugIcon:hover {
    opacity: 1;
    wash-color: white;
  }
  

  #patchButton {
    width: 30px;
    height: 30px;
    background-size: 100% 100%;
    horizontal-align: left;
    text-align: center;
    margin-top: 8px;
    margin-left: 64px;
  }
  
  #patchIcon {
    width: 100%;
    height: 100%;
    background-image: url("file://{images}/hud/patch_notes.psd");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    opacity: 0.5;
    wash-color: #cdf;
    transition-property: opacity;
    transition-duration: 0.2s;
    img-shadow: 0px 0px 3px 2 black;
  }
  
  #patchIcon:hover {
    opacity: 1;
    wash-color: white;
  }
  
  #voiceChatButton {
    width: 30px;
    height: 30px;
    background-size: 100% 100%;
    horizontal-align: left;
    text-align: center;
    margin-top: 8px;
    margin-left: 64px;
  }
  
  #voiceChatIcon {
    width: 100%;
    height: 100%;
    background-image: url("file://{images}/hud/voice_chat.psd");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    opacity: 0.5;
    wash-color: #cdf;
    transition-property: opacity;
    transition-duration: 0.2s;
    img-shadow: 0px 0px 3px 2 black;
  }
  
  #voiceChatIcon:hover {
    opacity: 1;
    wash-color: white;
  }


  .buttons_animated {
    animation-name: GlowPulse;
    animation-duration: 1.8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 10;
  }
  
  @keyframes 'GlowPulse' {
    0% {
      transform: scale3d(1, 1, 1);
      box-shadow: 0 0 15px 0px ;
    }
    10% {
      transform: scale3d(1.1, 1.1, 1.1);
      box-shadow: 0 0 15px 0px ;
    }
    20% {
      transform: scale3d(1.2, 1.2, 1.2);
      box-shadow: 0 0 15px 0px ;
    }
    30% {
      transform: scale3d(1.1, 1.1, 1.1);
      box-shadow: 0 0 15px 0px ;
    }
    40% {
      transform: scale3d(1.2, 1.2, 1.2);
      box-shadow: 0 0 15px 0px ;
    }
    50% {
      transform: scale3d(1, 1, 1);
      box-shadow: 0 0 20px 10px #428fc700;
    }
    100% {
      transform: scale3d(1, 1, 1);
      box-shadow: 0 0 15px 0px ;
    }
  }