@define defaultFont: Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;

.Profile {
  height: 170px;
  width: 500px;
  transition-property: opacity, transform;
  transition-duration: 0.15s;
  transform: translateY(-160px);
}

.Profile.Show_PR {
  transform: translateY(0px);
}

#Profile {
  margin-left: 170px;
  width: 300px;
  height: 160px;
  background-image: url("file://{images}/hud/infobg.psd");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: #000 2px 2px;
  flow-children: down;
}

#prof_top_lab,
#prof_bot_lab {
  height: 30px;
  width: 100%;
  vertical-align: middle;
  background-color: #0000007a;
}

#prof_top_lab Label,
#prof_bot_lab Label,
#prof_bot Label,

#prof_top_right Label {
  horizontal-align: center;
  vertical-align: middle;
  font-family: defaultFont;
  font-size: 20px;
}

#prof_top_left Label
{
  horizontal-align: center;
  vertical-align: middle;
  font-family: defaultFont;
  font-size: 20px;
  color: rgb(255, 255, 255);
}

#prof_top {
  width: 100%;
  height: 50px;
  flow-children: right;
}

#prof_top_left {
  width: 220px;
  height: 50px;
}

#prof_top_right {
  width: 80px;
  height: 50px;
}

#prof_bot {
  width: 300px;
  height: 50px;
  flow-children: right;
}

#perk_1,
#perk_2,
#perk_3,
#perk_4,
#perk_5 {
  width: 60px;
  height: 60px;
  vertical-align: middle;
  /* background-image: url("file://{images}/hud/btn_close_bg.png");
  background-size: 80% 80%;
  background-position: center;
  background-repeat: no-repeat; */
}

#b_perk_1 {
  width: 40px;
  height: 40px;
  horizontal-align: center;
  vertical-align: middle;
  background-image: url("file://{images}/hud/perks/ebf_love.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#b_perk_2 {
  width: 40px;
  height: 40px;
  horizontal-align: center;
  vertical-align: middle;
  background-image: url("file://{images}/hud/perks/aegis.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#b_perk_3 {
  width: 40px;
  height: 40px;
  horizontal-align: center;
  vertical-align: middle;
  background-image: url("file://{images}/hud/perks/runes.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#b_perk_4 {
  width: 40px;
  height: 40px;
  horizontal-align: center;
  vertical-align: middle;
  background-image: url("file://{images}/hud/perks/load_screen.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#b_perk_5 {
  width: 40px;
  height: 40px;
  horizontal-align: center;
  vertical-align: middle;
  background-image: url("file://{images}/hud/perks/contrib.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#badge_tier {
  width: 45px;
  height: 45px;
  horizontal-align: center;
  vertical-align: middle;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
