.image-precache{
    background-image: url("file://{resources}/images/hero_selection/rank0.png");
    background-image: url("file://{resources}/images/hero_selection/rank1.png");
    background-image: url("file://{resources}/images/hero_selection/rank2.png");
    background-image: url("file://{resources}/images/hero_selection/rank3.png");
    background-image: url("file://{resources}/images/hero_selection/rank4.png");
    background-image: url("file://{resources}/images/hero_selection/rank5.png");
    background-image: url("file://{resources}/images/hero_selection/rank6.png");
    background-image: url("file://{resources}/images/hero_selection/rank7.png");
    background-image: url("file://{resources}/images/hero_selection/rank8.png");
    background-image: url("file://{resources}/images/hero_selection/rank8b_psd.png");
    background-image: url("file://{resources}/images/hero_selection/rank8c_psd.png");
    background-image: url("file://{resources}/images/hero_selection/star_0.png");
    background-image: url("file://{resources}/images/hero_selection/star_1.png");
    background-image: url("file://{resources}/images/hero_selection/star_2.png");
    background-image: url("file://{resources}/images/hero_selection/star_3.png");
    background-image: url("file://{resources}/images/hero_selection/star_4.png");
    background-image: url("file://{resources}/images/hero_selection/star_5.png");
    background-image: url("file://{resources}/images/hero_selection/star_6.png");
    background-image: url("file://{resources}/images/hero_selection/star_7.png");
    background-image: url("file://{resources}/images/hero_selection/stars.psd");
    background-image: url("file://{resources}/images/hud/arrow.png");
    background-image: url("file://{resources}/images/hud/badge1.png");
    background-image: url("file://{resources}/images/hud/badge2.png");
    background-image: url("file://{resources}/images/hud/badge3.png");
    background-image: url("file://{resources}/images/hud/badge4.png");
    background-image: url("file://{resources}/images/hud/boosty.psd");
    background-image: url("file://{resources}/images/hud/boosty_btn.psd");
    background-image: url("file://{resources}/images/hud/btn_close.png");
    background-image: url("file://{resources}/images/hud/btn_close_bg.png");
    background-image: url("file://{resources}/images/hud/bug_btn.psd");
    background-image: url("file://{resources}/images/hud/button_down.psd");
    background-image: url("file://{resources}/images/hud/button_up.psd");
    background-image: url("file://{resources}/images/hud/close_btn.psd");
    background-image: url("file://{resources}/images/hud/discord.psd");
    background-image: url("file://{resources}/images/hud/general.psd");
    background-image: url("file://{resources}/images/hud/hud_frame.psd");
    background-image: url("file://{resources}/images/hud/icon_info.png");
    background-image: url("file://{resources}/images/hud/icon_mute_off.png");
    background-image: url("file://{resources}/images/hud/icon_mute_on.png");
    background-image: url("file://{resources}/images/hud/icon_text_mute_off.png");
    background-image: url("file://{resources}/images/hud/icon_text_mute_on.png");
    background-image: url("file://{resources}/images/hud/info.psd");
    background-image: url("file://{resources}/images/hud/infobg.psd");
    background-image: url("file://{resources}/images/hud/leaderboard.psd");
    background-image: url("file://{resources}/images/hud/mute.png");
    background-image: url("file://{resources}/images/hud/mute_on.png");
    background-image: url("file://{resources}/images/hud/options.psd");
    background-image: url("file://{resources}/images/hud/patch_notes.psd");
    background-image: url("file://{resources}/images/hud/patreon.psd");
    background-image: url("file://{resources}/images/hud/patreon_btn.psd");
    background-image: url("file://{resources}/images/hud/profile.psd");
    background-image: url("file://{resources}/images/hud/quickstats.psd");
    background-image: url("file://{resources}/images/hud/team_score.psd");
    background-image: url("file://{resources}/images/hud/tier0.png");
    background-image: url("file://{resources}/images/hud/tier1.png");
    background-image: url("file://{resources}/images/hud/tier2.png");
    background-image: url("file://{resources}/images/hud/tier3.png");
    background-image: url("file://{resources}/images/hud/tier4.png");
    background-image: url("file://{resources}/images/hud/tier5.png");
    background-image: url("file://{resources}/images/hud/top_scorboard_center.psd");
    background-image: url("file://{resources}/images/hud/yes.psd");
    background-image: url("file://{resources}/images/hud/perks/aegis.png");
    background-image: url("file://{resources}/images/hud/perks/contrib.png");
    background-image: url("file://{resources}/images/hud/perks/ebf_love.png");
    background-image: url("file://{resources}/images/hud/perks/load_screen.png");
    background-image: url("file://{resources}/images/hud/perks/perks.psd");
    background-image: url("file://{resources}/images/hud/perks/runes.png");
    background-image: url("file://{resources}/images/loading_screen/donator.png");
    background-image: url("file://{resources}/images/loading_screen/donator.psd");
    background-image: url("file://{resources}/images/loading_screen/gamemode.png");
    background-image: url("file://{resources}/images/loading_screen/special.png");
    background-image: url("file://{resources}/images/loading_screen/special.psd");
}